<!DOCTYPE html>

<!-- Author: Andrew Gaines
     Description: form that edits selected client -->

<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Edit Client</title>
	<link href="css/edit_client.css" rel="stylesheet" type="text/css">
	<link href="style.css" rel="stylesheet" type="text/css">

	<script>

  // function that promts user if user wants to save edited fields
	function areYouSureSave() {
		var answer = window.confirm("Update " + document.getElementById("company").value + "?");
		if (answer) {
			alert(document.getElementById("company").value + " updated!");
			document.getElementById('updateClient').action = './update_client'; //Will set it
			document.getElementById("updateClient").submit();
		} else {}
	}

  // // function that promts user if user wants to cancel edits done
	function areYouSureCancel() {
		var answer = window.confirm("Cancel update?");
		if (answer) {
			location.href = 'pos.html';
		} else {}
	}

  // function that sets toggle on or off depending on users click
	function myToggleFunction() {
		var checkBox = document.getElementById("toggle");
		if (checkBox.checked == true) {
			text.style.display = "block";
			document.getElementById("toggle").value = "true";
	} else {
			text.style.display = "none";
			document.getElementById("toggle").value = "false";
		}
	}

  // function that promts user if user wants to reset fields
	function resetFields() {
		var answer = window.confirm("Undo changes?");
		if (answer) {
			document.getElementById("company").value = "<%= client_info.rows[0].company %>";
			document.getElementById("name").value = "<%= client_info.rows[0].name %>";
			document.getElementById("email").value = "<%= client_info.rows[0].email %>";
			document.getElementById("phone").value = "<%= client_info.rows[0].phone %>";
			document.getElementById("phoneType").value = "<%= client_info.rows[0].phone_type %>";
			document.getElementById("addressOne").value = "<%= client_info.rows[0].address_one %>";
			document.getElementById("addressTwo").value = "<%= client_info.rows[0].address_two %>";
			document.getElementById("city").value = "<%= client_info.rows[0].city %>";
			document.getElementById("state").value = "<%= client_info.rows[0].state %>";
			document.getElementById("zip").value = "<%= client_info.rows[0].zip %>";
			document.getElementById("county").value = "<%= client_info.rows[0].county %>";

			var client = <%- JSON.stringify(client_info) %>;
			var splitDate = client.rows[0].start_date;
			var fields = splitDate.split('T');
			var d = fields[0];

			document.getElementById("startDate").value = d;

			if (client.rows[0].company_status == true) {
				document.getElementById("toggle").checked = true;
			} else {
				document.getElementById("toggle").checked = false;
			}

		} else {}
	}
	</script>

</head>
<body>
	<form  autocomplete="off" class="add_client-style" id="updateClient" name="updateClient" method='post'>
		<br>
        <p id="add_client_title">Edit Client</p>
		<ul>

			<li>
				<p class="text">Company Name</p>
        <input class="field-style field-full align-none" id="company" name="company" value="<%= client_info.rows[0].company %>" type="text">
			</li>
			<li>
				<p class="text">Company Representative</p>
        <input class="field-style field-full align-none" id="name" name="name" value="<%= client_info.rows[0].name %>" type="text">
			</li>
			<li>
				<p class="text">Email</p><input class="field-style field-full align-none" id="email" name="email" value="<%= client_info.rows[0].email %>" type="email">
			</li>
			<li>
				<p class="text">Phone</p>
				<p class="phoneLabel text">Phone Type</p>
        <input class="field-style field-split align-left" id="phone" name="phone" value="<%= client_info.rows[0].phone %>" type="tel">
        <input class="field-style field-split align-right" id="phoneType" name="phoneType" value="<%= client_info.rows[0].phone_type %>" type="text">
			</li>
			<li>
        <br>
				<p class="text">Address</p>
				<p class="addressLabel">Address Two</p>
        <input class="field-style field-split align-left" id="addressOne" name="addressOne" value="<%= client_info.rows[0].address_one %>" type="text">
        <input class="field-style field-split align-right" id="addressTwo" name="addressTwo" value="<%= client_info.rows[0].address_two %>" type="text">
			</li>
			<li>
        <br>
        <br>
				<p class="text">City</p>
				<p class="stateLabel text">State</p>
				<p class="zipLabel text">Zip Code</p>
				<p class="countyLabel text">County</p>
        <input class="field-style field-horizontal align-left" id="city" name="city" value="<%= client_info.rows[0].city %>" type="text">
        <input class="field-style field-horizontal align-left padding" id="state" name="state" value="<%= client_info.rows[0].state %>" type="text">
        <input class="field-style field-horizontal align-right padding" id="county" name="county" value="<%= client_info.rows[0].county %>" type="text">
        <input class="field-style field-horizontal align-right" id="zip" name="zip" value="<%= client_info.rows[0].zip %>" type="text">

        <input class="keyInput" id="key" name="key" value="<%= client_info.rows[0].client_id %>" type="text">
			</li>
			<li>
        <br>
        <br>
				<p class="text">Start Date</p>
        <input class="field-style field-full align-none" id="startDate" name="startDate" type="text">
			</li><br>

			<li class="toggleBox">Active Status &nbsp;
				<label class="switch"><input id="toggle" name="toggle" onclick="myToggleFunction()" type="checkbox"> <span class="slider round"></span></label>
			</li>
			<li class="centerButtonsEditClient">

			<input style="width:110px" type="button" onclick="areYouSureSave()"value="Save"> <input style="width:110px" type="button" onclick="resetFields()" value="Undo">
			<input style="width:110px" type="button" value="Cancel" onclick="areYouSureCancel()"></li>
		</ul>

	</form>

</div>

<script>

  function setSaveAction()
  {
    var form = document.createElement('form');
        form.method = 'POST';
        form.action = '/update_client';

        for(var key in data){
            var input = document.createElement('input');
            input.name = key;
            input.value = data[key];
            input.type = 'hidden';
            form.appendChild(input)
        }
        document.body.appendChild(form);
        form.submit();
  }

  function setSearchAction()
  {
    var form = document.createElement('form');
        form.method = 'POST';
        form.action = '/get_edit_client';

        for(var key in data){
            var input = document.createElement('input');
            input.name = key;
            input.value = data[key];
            input.type = 'hidden';
            form.appendChild(input)
        }
        document.body.appendChild(form);
        form.submit();
  }

  function areYouSure()
        {
          var answer = window.confirm("Update " + document.getElementById("company").value + "?");
          if (answer) {
            alert(document.getElementById("company").value + " updated!");
            document.getElementById('updateClient').action = './update_client'; //Will set it


            document.getElementById("updateClient").submit();
          }
          else {

            //document.getElementById('addClient').action = ; //Will set it
          }

        }

   function areYouSureCancel()
        {
          var answer = window.confirm("Cancel update?");
          if (answer) {
            location.href='Dashboard.html';
          }
          else {

            //document.getElementById('addClient').action = ; //Will set it
          }

        }


  function autocomplete(inp, arr) {
  /*the autocomplete function takes two arguments,
  the text field element and an array of possible autocompleted values:*/
  var currentFocus;
  /*execute a function when someone writes in the text field:*/
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/
      for (i = 0; i < arr.length; i++) {
        /*check if the item starts with the same letters as the text field value:*/
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          /*create a DIV element for each matching element:*/
          b = document.createElement("DIV");
          /*make the matching letters bold:*/
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          /*insert a input field that will hold the current array item's value:*/
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          /*execute a function when someone clicks on the item value (DIV element):*/
          b.addEventListener("click", function(e) {
              /*insert the value for the autocomplete text field:*/
              inp.value = this.getElementsByTagName("input")[0].value;
              /*close the list of autocompleted values,
              (or any other open lists of autocompleted values:*/
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
  /*execute a function presses a key on the keyboard:*/
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    /*add class "autocomplete-active":*/
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
        x[i].parentNode.removeChild(x[i]);
      }
    }
  }
  /*execute a function when someone clicks in the document:*/
  document.addEventListener("click", function (e) {
      closeAllLists(e.target);
  });
}

 // script that adds correct date and active status in database
  var client = <%- JSON.stringify(client_info) %>;
  var splitDate = client.rows[0].start_date;
  var fields = splitDate.split('T');
  var d = fields[0];
  document.getElementById("startDate").value = d;

  if(client.rows[0].company_status == true)
  {
    document.getElementById("toggle").checked = true;
  }

</script>
</body>
</html>
